
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quill {
  /* max-width: 800px; */
  min-width: 100%;
  /* margin-inline: auto; */
}

#htmlPluggedIn {
  position: relative;
  margin-inline: auto;
  margin-top: 1rem;
  padding: 1rem;
}

#htmlPluggedIn img {
  max-width: 100%;
  position: relative;
}
