
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quill {
  /* max-width: 800px; */
  min-width: 100%;
  /* margin-inline: auto; */
}

#htmlPluggedIn {
  position: relative;
  margin-inline: auto;
  margin-top: 1rem;
  padding: 1rem;
}

#htmlPluggedIn img {
  max-width: 100%;
  position: relative;
}

.preview {
  h1 {
    @apply text-lg md:text-xl lg:text-2xl xl:text-3xl mt-10 mb-2;
  }

  h2 {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl mt-10 mb-2;
  }

  p {
    @apply text-sm md:text-base xl:text-xl text-gray-600 my-2;
  }

  img {
    @apply mt-10 mb-20;
  }
}
