* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quill {
  max-width: 800px;
  margin-inline: auto;
}

#htmlPluggedIn {
  position: relative;
  /* max-width: 800px; */
  margin-inline: auto;
  margin-top: 1rem;
  padding: 1rem;
}

#htmlPluggedIn img {
  max-width: 100%;
  position: relative;
}
